/*******************************************************/
/* Color barra titulo del tema */
#top{background-color: #fff !important;border-bottom: 3px solid #999;padding-bottom: 30px;margin-bottom: 30px;}
.navbar-inverse,
.navbar-inverse .navbar-nav > .open > a{
	background-color: #fff !important;
}
.logo_empresa .texto h1{
	color: #fff !important;
}
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
	color: #333;
	border-bottom: 1px solid #fff;
	cursor: pointer;
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
	border-bottom: 1px solid #db0d0d;
}
@media(min-width: 768px){
	.navMod {
		margin: 0 auto;
		display: table;
		table-layout: auto;
		float: none;
		width: 100%;
	}
	.navMod>li {
		display: table-cell;
		float: none;
		text-align: center;
	}
}

.nvGenero{
	border: 1px solid #e7e7e7;
	border-radius: 14px;
	padding-top:10px;
	padding-bottom:10px;
}

.nvGenero li {
	border-left: 1px solid #ccc;
}
.nvGenero li:first-child {
	border: none;
}
.nvGenero > li a {
	color: #333;
	text-transform: uppercase;
	border-radius: 0px;
	padding: 10px 5px;
}
.nvGenero > li a:hover,
.nvGenero > li a:focus {
    background-color: transparent !important;
	color: #333;
}
.nvGenero > li > a > .badge {
	top: -5px;
	position: absolute;
	background-color: #db0d0d;
}

/*******************************************************/
/* Color caracteristico del tema */
#wrap,
#left,
.head,
.user-media,
.sidebar-left-mini .user-wrapper,
body:not(.sidebar-left-mini) #menu .nav-header,
.sidebar-left-mini #menu>li>a .link-title,
#footer{
	background-color: #fff !important;
}
/* Color seleccion del tema */
#menu>li:hover>a,
#menu>li:focus>a,
#menu>li a:hover {
	background-color: rgba(0,0,0,0.3)!important;
	color: #fff !important;
}
/* Color submenu del tema */
#menu>li ul {
	background-color: rgba(0,0,0,0.8)!important;
}
#menu>li ul li a{
	color: #BABABA !important;
}

/*******************************************************/
/* Color de las fuentes del tema */
.head .main-bar h3,
.user-media .media-body h5.media-heading,
body:not(.sidebar-left-mini) #menu .nav-header,
.sidebar-left-mini .user-media-toggleHover,
#menu > li > a,
#footer {
    color: #BABABA;
    text-shadow: none !important;
}

/*******************************************************/
/* Color de de los separadores de las secciones */
#menu .nav-divider,
.outer {
    background: #222 !important;
    box-shadow: none !important;
}
.inner {
    border: none !important;
}
#menu > li > a,
body:not(.sidebar-left-mini) #menu .nav-header {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.head{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*******************************************************/
/* Otros */
#top > .navbar {
	border-top: none !important;
}
#footer {
	background-image: none !important;
}
.table {
    margin-bottom: 0px !important;
}
.container_box {
    top: 10px !important;
}

/*******************************************************/
/* Modificacion de los cuadros del tema */
.box{
	background-color: #fff;
	border: 1px solid #333;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.box header {
    color: #fff;
	background-color: #333;
	border-color: #333;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-image: none;
	background-repeat: repeat-x;
	border-bottom: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.box header .icons {
    padding: 10px 15px;
    border-right: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.box header .nav-tabs {
    border-bottom: none;
}
.box .body {
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.box .table-responsive {
	margin-bottom: 3px !important;
}
/* Color de la letra de la pestaña de la tabla*/
.nav-tabs > li > a {
    color: #fff !important;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    color: #fff;
	background-color: #2E2424;
	border-color: transparent;
	border-bottom: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555 !important;
    /*border-bottom: none;*/
}
/** Modificacion del dropdown de la tablas **/
.box header .dropdown-menu {
    right: 0!important;
    float: right!important;
	left: auto!important;
}
.box header .nav-tabs > li > a,
.box header .nav-tabs > li > a:hover,
.box header .nav-tabs > li > a:focus {
    color: #fff;
}
.box header .nav-tabs > .open > a,
.box header .nav-tabs > .open > a:hover,
.box header .nav-tabs > .open > a:focus,
.box header .nav-tabs > li > a:hover,
.box header .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #2E2424;
	border-color: transparent;
}
.box header .nav-tabs > li.active > a,
.box header .nav-tabs > li.active > a:hover,
.box header .nav-tabs > li.active > a:focus {
	color: #333;
	background-color: #fff;
	border-color: #333;
	border-bottom-color: transparent;
}
.box header .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #333;
    border-color: #2E2424;
}
.box header .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;
}
.box header .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.box header .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #2E2424;
}
.box header .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.box header .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.box header .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #333;
}

/*******************************************************/
/** Modificacion alertas **/
/*****************************************/
.alert-default {color: #333333!important;border-color: #cccccc!important;}
.alert-primary {color: #333333!important;border-color: #2f353a!important;}
.alert-success {color: #1ABC9C!important;border-color: #0fac8c!important;}
.alert-info {color: #2E5595!important;border-color: #043380!important;}
.alert-warning {color: #e9af33!important;border-color: #ffbd33!important;}
.alert-danger {color: #dd4c2b!important;border-color: #ff5733!important;}

.alert-default .icon, .alert-default .icon::after {border-color: #cccccc!important;background: #cccccc!important;}
.alert-primary .icon, .alert-primary .icon::after {border-color: #2f353a!important;background: #2f353a!important;}
.alert-success .icon, .alert-success .icon::after {border-color: #0fac8c!important;background: #1ABC9C!important;}
.alert-info .icon, .alert-info .icon::after {border-color: #043380!important;background: #2E5595!important;}
.alert-warning .icon, .alert-warning .icon::after {border-color: #ffbd33!important;background: #e9af33!important;}
.alert-danger .icon, .alert-danger .icon::after {border-color: #ff5733!important;background: #dd4c2b!important;}

.bs-callout-default {border-color: #cccccc!important;}
.bs-callout-primary {border-color: #2f353a!important;}
.bs-callout-success {border-color: #0fac8c!important;}
.bs-callout-info {border-color: #043380!important;}
.bs-callout-warning {border-color: #ffbd33!important;}
.bs-callout-danger {border-color:#ff5733!important;}

.bs-callout-default h4 {color:#cccccc!important;}
.bs-callout-primary h4 {color:#2f353a!important;}
.bs-callout-success h4 {color:#0fac8c!important;}
.bs-callout-info h4 {color:#043380!important;}
.bs-callout-warning h4 {color:#ffbd33!important;}
.bs-callout-danger h4 {color:#ff5733!important;}

.login, body {background: url("../img/pattern/gray_jean.png") repeat!important;}
.bx_shad{-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);}
.navleft{right: 0 !important;float: right !important;left: auto !important;}
.navright{left: 0 !important;float: left !important;right: auto !important;}

.topnavbar .navbar-default .navbar-nav > .dropdown > a:focus, 
.topnavbar .navbar-default .navbar-nav > .dropdown > a:hover {
  color: #555 !important;
  background-color: #D7D5D5 !important;
}


.topnavbar .main-bar {padding: 0px!important;}
.topnavbar .navbar {border: none !important;}
.topnavbar .navbar-default{background-color: #043380;border: none !important;}
.topnavbar .navbar-nav > li > a {color: #FFF;text-shadow: none !important;}
.topnavbar .tittleNav a:hover{color: #FFF !important;}

.dropdown-menu > li > a {padding: 3px 5px;}
.navbar-icon-top {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.gallery-title{font-size: 36px;color: #000;text-align: center;font-weight: 500;}
.port-image{width: 100%;}
.gallery_product{margin-bottom: 30px;}
.tooltip_inline {position: initial!important;display: inline!important;margin-left:5px;}
.item-usuario, .item-usuario2 {display: inline-grid;margin: 0 4px;margin-bottom: 0px;width: 70px;margin-bottom: 0px;text-align: center;z-index: 9999999;background-color: transparent;border-color: transparent;}
.item-usuario img, .item-usuario2 .img-usuario {border-radius: 50%;width: 70px;height: 70px;overflow: hidden;border: 2px solid #186f9c;}
.item-usuario h3, .item-usuario2 h3 {margin: 4px 0 0 0;color: #333;font-size: 10px;margin-bottom: 0;}
.match_badge{margin-bottom: 5px;padding-right: 3px;padding-left: 3px;}
.match_badge p{font-size: 12px;}


/*****************************************/
.btn-primary {color: #fff;background-color: #C1272D;border-color: #C1272D;box-shadow:0px 0 0 #C1272D inset;}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover:active,
.btn-primary:focus:active,
.btn-primary:active:active{color: #fff;background-color: #dc3545;border-color: #dc3545;box-shadow:500px 0 0 #dc3545 inset;}

.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {color: #fff;background-color: #dc3545;background-image: none;border-color: #dc3545;}

/*****************************************/
.btn-success {color: #fff;background-color: #5cb85c;border-color: #5cb85c;box-shadow:0px 0 0 #5cb85c inset;}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success:hover:active,
.btn-success:focus:active,
.btn-success:active:active {color: #fff;background-color: #5cb85c;border-color: #5cb85c;box-shadow:500px 0 0 #5cb85c inset;}

/*****************************************/
.btn-danger {color: #fff;background-color: #333;border-color: #333;box-shadow:0px 0 0 #333 inset;}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger:hover:active,
.btn-danger:focus:active,
.btn-danger:active:active{color: #fff;background-color: #222;border-color: #222;box-shadow:500px 0 0 #222 inset;}

/*****************************************/
.btn-info {color: #fff;background-color: #0AA1F0;border-color: #0AA1F0;box-shadow:0px 0 0 #0AA1F0 inset;}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info:hover:active,
.btn-info:focus:active,
.btn-info:active:active {color: #fff;background-color: #1f8eca;border-color: #1f8eca;box-shadow:500px 0 0 #1f8eca inset;}

/*****************************************/
.btn-warning {color: #fff;background-color: #ff7e00;border-color: #ff7e00;box-shadow:0px 0 0 #ff7e00 inset;}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning:hover:active,
.btn-warning:focus:active,
.btn-warning:active:active{color: #fff;background-color: #fca248;border-color: #fca248;box-shadow:500px 0 0 #fca248 inset;}

/*****************************************/
.btn-link {color: #333;background-color: transparent;border-color: transparent;box-shadow:0px 0 0 transparent inset;font-size: 14px;line-height: 1;}
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link:hover:active,
.btn-link:focus:active,
.btn-link:active:active{color: #222;background-color: transparent;border-color: transparent;box-shadow:500px 0 0 transparent inset;}

/*****************************************/
.btn-link2 {color: #C1272D;background-color: transparent;border-color: transparent;box-shadow:0px 0 0 transparent inset;font-size: 14px;line-height: 1;}
.btn-link2:hover,
.btn-link2:focus,
.btn-link2:active,
.btn-link2:hover:active,
.btn-link2:focus:active,
.btn-link2:active:active{color: #dc3545;background-color: transparent;border-color: transparent;box-shadow:500px 0 0 transparent inset;}

/*Modificacion colores */
.formLogin .formbox {background-color: rgba(0, 0, 0, 0.6)!important;border-radius: 3px;border: 1px solid #222!important;}
.formLogin .formbox .leftPanel {background: #333!important;}
.formLogin .formbox .leftPanel h2 span {border: solid #dc3545!important;border-width: 1px 0!important;}
.formLogin .formbox .rightPanel .text-info {color: #fff; }
.formLogin .formbox .rightPanel .text-muted {color: #fff;}
.formLogin .formbox .rightPanel ul .active {padding-bottom: 4px;border-bottom: 1px solid #C1272D!important;}
.breadcrumb-bar .btn-breadcrumb .btn-default {color: #fff;background-color: #333;border-color: #fff;}
.breadcrumb-bar .btn-breadcrumb .btn.btn-default:not(:last-child)::after {border-left: 10px solid #333!important;}
.tab-content .text-primary {color: #dc3545!important;border-bottom: 1px solid #ddd;padding-bottom: 5px;}
.img-thumbnail {padding: 0px!important;border-radius: 25px!important;}
.vjs-poster, .video-js, .vjs-tech {border-radius: 25px!important;}
.table th .btn-group .btn-default{color: #fff;background-color: #333;border-color: #333;}
.table th .btn-group .btn-default:hover,.table th .btn-group .btn-default:focus,.table th .btn-group .btn-default:active,.table th .btn-group .btn-default.active{color:#fff;background-color:#222;border-color:#222;}

.obraCont{margin-bottom:15px;}
.obraCont a{color: #333;font-size: 16px;}
.obraCont .obraPad{box-shadow: 0px 0px 9px 1px #c0c0c0;border-radius: 10px;padding: 10px 20px;text-align: center;min-height: 100px;}
.obraCont .obraPad span{color: #999;font-size: 12px;}
.obraCont .obraPad .badge {top: 3px;position: absolute;background-color: #db0d0d;color: #fff!important;right: 25px;}
.obraCont .obraPad .badge.bluebadge {top: 3px;position: absolute;background-color: #0d66db;color: #fff!important;right: 25px;}

/*Linea Tiempo */
.timeline-centered {position: relative;margin-bottom: 30px;}
.timeline-centered:before, .timeline-centered:after {content: " ";display: table;}
.timeline-centered:after {clear: both;}
.timeline-centered:before {content: '';position: absolute;display: block;width: 4px;background: #f5f5f6;left: 90%;top: 20px;bottom: 20px;margin-left: -4px;}
.timeline-centered .timeline-entry {position: relative;width: 90%;float: right;clear: both;}
.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {content: " ";display: table;}
.timeline-centered .timeline-entry:after {clear: both;}
.timeline-centered .timeline-entry.begin {margin-bottom: 0;}
.timeline-centered .timeline-entry.begin .timeline-entry-inner .timeline-icon {border: 4px solid #f5f5f6;background: #f5f5f6;}
.timeline-centered .timeline-entry.left-aligned {float: left;}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {margin-left: 0;margin-right: -8px;margin-top: 30px;}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {left: auto;right: -100px;text-align: left;}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {float: right;}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {margin-left: 0;margin-right: 70px;}
.timeline-centered .timeline-entry .timeline-entry-inner {position: relative;margin-left: -22px;}
.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {content: " ";display: table;}
.timeline-centered .timeline-entry .timeline-entry-inner:after {clear: both;}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {position: absolute;left: -100px;text-align: right;padding: 10px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {display: block;}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {font-size: 15px;font-weight: bold;}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {font-size: 12px;}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {border: 4px solid transparent;display: block;width: 20px;height: 20px;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;text-align: center;line-height: 40px;font-size: 15px;float: left;}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {position: relative;padding: 1.7em;margin-left: 70px;-webkit-background-clip: padding-box;-moz-background-clip: padding;background-clip: padding-box;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;padding-top:0px;}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2{color: #303641;font-family: "Noto Sans",sans-serif;font-size: 12px;margin: 0;line-height: 1.428571429;}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {font-size: 16px;margin-bottom: 10px;}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {color: #303641;cursor: pointer;}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2.pased a {color: #db0d0d;}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label .timeline-box{padding-left:15px;}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label .timeline-box p {color: #303641;font-family: "Noto Sans",sans-serif;font-size: 12px;margin: 0;line-height: 1.428571429;text-transform: uppercase;}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label .timeline-box p span{color: #737881;}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label .timeline-box p + p {margin-top: 15px;}

/* Acordeon */
.panel-group {margin-bottom: 0;padding: 30px;}
#accordion .panel {border: medium none;border-radius: 0;box-shadow: none;margin: 0 0 15px 10px;}
#accordion .panel-heading {border-radius: 30px;padding: 0;}
#accordion .panel-title a {background: #ffb900 none repeat scroll 0 0;border: 1px solid transparent;border-radius: 30px;color: #fff;display: block;font-size: 18px;font-weight: 600;padding: 12px 20px 12px 50px;position: relative;transition: all 0.3s ease 0s;}
#accordion .panel-title a.collapsed {background: #fff none repeat scroll 0 0;border: 1px solid #ddd;color: #333;}
#accordion .panel-title a::after, #accordion .panel-title a.collapsed::after {background: #ffb900 none repeat scroll 0 0;border: 1px solid transparent;border-radius: 50%;box-shadow: 0 3px 10px rgba(0, 0, 0, 0.58);color: #fff;content: "";font-family: fontawesome;font-size: 25px;height: 55px;left: -20px;line-height: 55px;position: absolute;text-align: center;top: -5px;transition: all 0.3s ease 0s;width: 55px;}
#accordion .panel-title a.collapsed::after {background: #fff none repeat scroll 0 0;border: 1px solid #ddd;box-shadow: none;color: #333;content: "";}
#accordion .panel-body {background: transparent none repeat scroll 0 0;border-top: medium none;padding: 20px 25px 10px 9px;position: relative;}
#accordion .panel-body .panel-doted {border-left: 1px dashed #8c8c8c;padding-left: 25px;}


