/*******************************************************/
/* Color barra titulo del tema */
.navbar-inverse,
.navbar-inverse .navbar-nav > .open > a{
	background-color: #1a2226 !important;
}
.logo_empresa .texto h1{
	color: #fff !important;
}

/*******************************************************/
/* Color caracteristico del tema */
#wrap,
#left,
.head,
.user-media,
.sidebar-left-mini .user-wrapper,
body:not(.sidebar-left-mini) #menu .nav-header,
.sidebar-left-mini #menu>li>a .link-title,
#footer{
	background-color: #043380 !important;
}
/* Color seleccion del tema */
#menu>li:hover>a,
#menu>li:focus>a,
#menu>li a:hover {
	background-color: rgba(0,0,0,0.3)!important;
	color: #fff !important;
}
/* Color submenu del tema */
#menu>li ul {
	background-color: rgba(0,0,0,0.8)!important;
}
#menu>li ul li a{
	color: #BABABA !important;
}

/*******************************************************/
/* Color de las fuentes del tema */
.head .main-bar h3,
.user-media .media-body h5.media-heading,
body:not(.sidebar-left-mini) #menu .nav-header,
.sidebar-left-mini .user-media-toggleHover,
#menu > li > a,
#footer {
    color: #BABABA;
    text-shadow: none !important;
}

/*******************************************************/
/* Color de de los separadores de las secciones */
#menu .nav-divider,
.outer {
    background: #222 !important;
    box-shadow: none !important;
}
.inner {
    border: none !important;
}
#menu > li > a,
body:not(.sidebar-left-mini) #menu .nav-header {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.head{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*******************************************************/
/* Otros */
#top > .navbar {
	border-top: none !important;
}
#footer {
	background-image: none !important;
}
.table {
    margin-bottom: 0px !important;
}
.container_box {
    top: 10px !important;
}

/*******************************************************/
/* Modificacion de los cuadros del tema */
.box{
	background-color: #fff;
	border: 1px solid #333;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.box header {
    color: #fff;
	background-color: #043380;
	border-color: #333;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-image: none;
	background-repeat: repeat-x;
	border-bottom: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.box header .icons {
    padding: 10px 15px;
    border-right: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.box header .nav-tabs {
    border-bottom: none;
}
.box .body {
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.box .table-responsive {
	margin-bottom: 3px !important;
}
/* Color de la letra de la pestaña de la tabla*/
.nav-tabs > li > a {
    color: #fff !important;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    color: #fff;
	background-color: #2E2424;
	border-color: transparent;
	border-bottom: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555 !important;
    /*border-bottom: none;*/
}
/** Modificacion del dropdown de la tablas **/
.box header .dropdown-menu {
    right: 0!important;
    float: right!important;
	left: auto!important;
}
.box header .nav-tabs > li > a,
.box header .nav-tabs > li > a:hover,
.box header .nav-tabs > li > a:focus {
    color: #fff;
}
.box header .nav-tabs > .open > a,
.box header .nav-tabs > .open > a:hover,
.box header .nav-tabs > .open > a:focus,
.box header .nav-tabs > li > a:hover,
.box header .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #2E2424;
	border-color: transparent;
}
.box header .nav-tabs > li.active > a,
.box header .nav-tabs > li.active > a:hover,
.box header .nav-tabs > li.active > a:focus {
	color: #333;
	background-color: #fff;
	border-color: #333;
	border-bottom-color: transparent;
}
.box header .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #333;
    border-color: #2E2424;
}
.box header .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;
}
.box header .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.box header .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #2E2424;
}
.box header .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.box header .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.box header .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #333;
}

/*******************************************************/
/** Modificacion alertas **/
/*****************************************/
.alert-default {color: #333333!important;border-color: #cccccc!important;}
.alert-primary {color: #333333!important;border-color: #2f353a!important;}
.alert-success {color: #1ABC9C!important;border-color: #0fac8c!important;}
.alert-info {color: #2E5595!important;border-color: #043380!important;}
.alert-warning {color: #e9af33!important;border-color: #ffbd33!important;}
.alert-danger {color: #dd4c2b!important;border-color: #ff5733!important;}

.alert-default .icon, .alert-default .icon::after {border-color: #cccccc!important;background: #cccccc!important;}
.alert-primary .icon, .alert-primary .icon::after {border-color: #2f353a!important;background: #2f353a!important;}
.alert-success .icon, .alert-success .icon::after {border-color: #0fac8c!important;background: #1ABC9C!important;}
.alert-info .icon, .alert-info .icon::after {border-color: #043380!important;background: #2E5595!important;}
.alert-warning .icon, .alert-warning .icon::after {border-color: #ffbd33!important;background: #e9af33!important;}
.alert-danger .icon, .alert-danger .icon::after {border-color: #ff5733!important;background: #dd4c2b!important;}

.bs-callout-default {border-color: #cccccc!important;}
.bs-callout-primary {border-color: #2f353a!important;}
.bs-callout-success {border-color: #0fac8c!important;}
.bs-callout-info {border-color: #043380!important;}
.bs-callout-warning {border-color: #ffbd33!important;}
.bs-callout-danger {border-color:#ff5733!important;}

.bs-callout-default h4 {color:#cccccc!important;}
.bs-callout-primary h4 {color:#2f353a!important;}
.bs-callout-success h4 {color:#0fac8c!important;}
.bs-callout-info h4 {color:#043380!important;}
.bs-callout-warning h4 {color:#ffbd33!important;}
.bs-callout-danger h4 {color:#ff5733!important;}

.login, body {background: url("../img/pattern/gray_jean.png") repeat!important;}
.bx_shad{-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);}
.navleft{right: 0 !important;float: right !important;left: auto !important;}
.navright{left: 0 !important;float: left !important;right: auto !important;}

.topnavbar .navbar-default .navbar-nav > .dropdown > a:focus, 
.topnavbar .navbar-default .navbar-nav > .dropdown > a:hover {
  color: #555 !important;
  background-color: #D7D5D5 !important;
}


.topnavbar .main-bar {padding: 0px!important;;}
.topnavbar .navbar {border: none !important;}
.topnavbar .navbar-default{background-color: #043380;border: none !important;}
.topnavbar .navbar-nav > li > a {color: #FFF;text-shadow: none !important;}
.topnavbar .tittleNav a:hover{color: #FFF !important;}

.dropdown-menu > li > a {padding: 3px 5px;}
.navbar-icon-top {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.gallery-title{font-size: 36px;color: #000;text-align: center;font-weight: 500;}
.port-image{width: 100%;}
.gallery_product{margin-bottom: 30px;}
.tooltip_inline {position: initial!important;display: inline!important;margin-left:5px;}
.item-usuario, .item-usuario2 {display: inline-grid;margin: 0 4px;margin-bottom: 0px;width: 70px;margin-bottom: 0px;text-align: center;z-index: 9999999;background-color: transparent;border-color: transparent;}
.item-usuario img, .item-usuario2 .img-usuario {border-radius: 50%;width: 70px;height: 70px;overflow: hidden;border: 2px solid #186f9c;}
.item-usuario h3, .item-usuario2 h3 {margin: 4px 0 0 0;color: #333;font-size: 10px;margin-bottom: 0;}
.match_badge{margin-bottom: 5px;padding-right: 3px;padding-left: 3px;}
.match_badge p{font-size: 12px;}


